<details>
  <summary class="govuk-label">Reference data:</summary>
  <textarea style="width: 600px; height: 300px; font-size: .8em" [(ngModel)]="templateData"></textarea>
  <p>{{jsonParseErrors}}</p>
</details>
<button class="govuk-button" (click)="saveTemplateData()" type="button">Check and save template data</button>
<app-template-selector [templates]="templates" (selectedTemplate)="setTemplateName($event)"></app-template-selector>
<app-assembly-viewer *ngIf="selectedTemplate"
                     [templateName]="selectedTemplate"
                     [templateData]="templateDataJson"></app-assembly-viewer>
